<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <datareporter>
            <webcare>
                <webcache_url>https://webcache-eu.datareporter.eu/c/</webcache_url>
                <language_code>1</language_code>
                <enable_imprint>1</enable_imprint>
                <enable_privacy_notice>1</enable_privacy_notice>
                <enable_cookie_banner>1</enable_cookie_banner>
                <enable_cookie_banner_options>0</enable_cookie_banner_options>
                <enable_cookie_banner_custom_redirect>0</enable_cookie_banner_custom_redirect>
            </webcare>
        </datareporter>
    </default>
</config>